@Model 
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td class="text-right">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = Model })"><i class="fa-regular fa-pen-to-square"></i></a>

        <form method="post" action="@Url.Action("Delete", new { id =Model })">
            <button onclick="return confirm('Are you sure you want to delete this Item?');" type="submit" class="btn btn-danger btn-sm"> <i class="fa-solid fa-trash"></i></button>
        </form>
    </div>
</td>