
@* @model IEnumerable<Imaginary_Dealer.Models.Model> *@
 @model IEnumerable<Imaginary_Dealer.Models.Model>


<br />
<br />


                          
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brand List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <table class="table table-striped">
        <thead class="thead-info">
            <tr>
                <th>Manage Model Name</th>
                <th class="text-right">
                    <a class="btn btn-info btn-sm" asp-action="Create"><i class="fa-solid fa-motorcycle">&nbsp; ADD  </i></a>
                </th>
            </tr>
        </thead>
    </table>

  @*   <div class="text-right">
        <a class="btn btn-info btn-sm" asp-action="Create"><i class="fa-solid fa-motorcycle">&nbsp; ADD  </i></a>
    </div>  *@
    <div>
        <br />
    </div>
      

        <div class="col-md-12">
            <table class="table table-striped border">
                <tr class="table-info">
                    <th>
                    @Html.DisplayNameFor(m => m.Brand)
                      
                    </th>

                <th>
                    @Html.DisplayNameFor(m => m.Name)

                </th>

                <th> </th>
                </tr>
               

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Brand.Name)
                                
                            </td>

                            <td>
                                @Html.DisplayFor(m => item.Name)

                            </td>

                
                        <partial name="_TableButtonPartial" model="item.Id" />
                    

                        </tr>

                    }

            
                


            </table>
        </div>

</body>
</html>
